---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import { format, isBefore } from "date-fns";

const allBlogPosts = await getCollection("devblog");
allBlogPosts.sort((a, b) => {
  return isBefore(b.data.date, a.data.date) ? -1 : 1;
});
---

<Layout title="hello world">
  <div class="mb-10">
    <div class="bg-slate-100 rounded-lg text-black text-center mb-10 mp-10">
      Blogs I've written
    </div>

    <div class="text-black text-center">
      {
        allBlogPosts.map((blogPost) => (
          <li>
            {format(blogPost.data.date, "MMM do yyyy")}{" "}
            <a
              href={`/dev/${blogPost.slug}`}
              class="ml-2 underline decoration-2 underline-offset-2 mb-10"
            >
              {blogPost.data.title}
            </a>
          </li>
        ))
      }
    </div>
  </div>

  <div class="bg-slate-100 rounded-lg text-black text-center mb-10 mp-10">
    Things I like
  </div>

  <div class="grid grid-flow-row-dense grid-cols-3 gap-4">
    <div
      class="bg-slate-50 rounded-lg backdrop-brightness-50 bg-white/30 text-black"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation.
    </div>

    <div
      class="bg-slate-50 rounded-lg backdrop-brightness-50 bg-white/30 text-black"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit.
    </div>

    <div
      class="bg-slate-50 rounded-lg backdrop-brightness-50 bg-white/30 text-black"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit.
    </div>

    <div
      class="bg-slate-50 rounded-lg backdrop-brightness-50 bg-white/30 text-black"
    >
      Lorem ipsum dolor 50 amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit.
    </div>
  </div>
</Layout>
