---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("devblog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Title heading={entry.data.title} />
  <div class="bg-slate-100 rounded-lg text-black text-center mb-10 mp-10">
    <Content />
  </div>
</Layout>
