---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("devblog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div
    class="max-w-6xl mx-auto bg-slate-50 rounded-lg backdrop-brightness-50 bg-white/30 text-black"
  >
    <Content />
  </div>
</Layout>
